.icon {
    width: 40rem;
    height: 40rem;

    background-image: url("./EnergyMixButton.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    flex-shrink: 0;
}